<!DOCTYPE html>
<html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>チャットルーム</title>
      <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="/static/bootstrap.min.css" />
      <!-- Optional theme -->
     <link rel="stylesheet" href="/static/bootstrap-theme.min.css" />
      <!-- Latest compiled and minified JavaScript -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
     <script src="static/jquery.min.js"></script>
     <script src="static/bootstrap.min.js"></script>


     <link rel="stylesheet" href="/static/hidden_mode.css" />
     <!-- hidden_modeのstyleを外部に移行してみた  -->
     <link rel="stylesheet" href="/static/display_mode.css" />
   </head>

 <body>
    <div id="Hidden-mode" draggable="true">
        <i class="fas fa-user-alt fa-10x" style="cursor: pointer;" onclick="hyouji1(0)"></i>
        <p class="arrow_box" >こまっているなら相談乗るよ！</p>
      </div>

    <div id="display-mode">
        <div id="header">
           <h2 class="title-word">ChatBot</h2>
           <h2 class="minus-close-button"><i class="fas fa-minus" style="cursor: pointer;" onclick="hyouji1(1)"></i></h2>
         </div>

        <div id="main">
           <div id="chat_area" class="chat_area row col-md-12">
            </div>
         </div>

        <div id="footer" class="row col-md-12">
          <form method="POST" action="#" id="talkForm">
             <input type="text" name="chat_word" class="post_space" required/>
             <input type="submit" value="送信" class="submit_button" />
            </form>
         </div>
       </div>
      <script type="text/javascript">
       // hyouji1()はUI上のバツを押すと最小化し、アイコンをタップすると表示されるもの
       document.getElementById("display-mode").style.display="none";
       function hyouji1(num){
         if (num == 0){
           document.getElementById("Hidden-mode").style.display="none";
           document.getElementById("display-mode").style.display="block";
           num = 1;
         }
         else{
           document.getElementById("Hidden-mode").style.display="block";
           document.getElementById("display-mode").style.display="none";
         }
       }

       // ページ表示時に発言データを取得・表示する
          $(document).ready(function(){
              getTalkData();
          });

          $("#talkForm").on("submit", function(event){
             // 本来のformのsubmitを防止
             event.preventDefault();
             saveTalkData();
           });

           // 発言データの送信
           function saveTalkData(){
             $.ajax({
               type: "POST",
               url: "/api/talk",
               data: {
                 "chat_word": $("input[name='chat_word']").val()
               },
               dataType: "json"
             }).done(function(data){
               if(data["status"] != "success"){
                 alert("ERROR");
               }else{
                 // 入力欄のクリア
                 $("input[name='chat_word']").val("");
                 // チャット欄の更新
                 getTalkData();
               }
             }).fail(function(data){
               console.error(data);
             });
           }

           // 発言データの取得
          function getTalkData(){
              $.ajax({
                  type: "GET",
                  url: "/api/talk",
                  dataType: "json"
              }).done(function(data){
                  // JSONを受け取り各発言のDOMを構築する
                  for(var i in data){
                      appendTalkNode(data[i].talk_time, data[i].username, data[i].content);
                  }
              }).fail(function(data){
                  console.error(data);
              });
          }
           // 発言データのDOMを追加する
          function appendTalkNode(talkTime, userName, content){
              // チャット表示領域
              var chatArea = $("#chat_area")
              // 発言の外側のDIV要素
              var rowDiv = $("<div></div>", {"class": "row"})
              // 発言の内側のDIV要素
              var talkDiv;
              // 自分の発言かどうかの分岐
               if (userName == "{{username}}"){
                   talkDiv = $("<div></div>", {
                      "class": "talk alert alert-info pull-right col-md-5",
                      "style": "word-wrap: break-word",
                      "title": talkTime
                   })
               }else{
                   talkDiv = $("<div></div>", {
                      "class": "talk alert alert-success pull-left col-md-5",
                      "style": "word-wrap: break-word",
                      "title": talkTime
                   })
               }
              // 発言内容をセット
              talkDiv.text(content);
               // 内側のDIVを外側のDIVに追加
              rowDiv.append(talkDiv)
               // チャット表示領域に外側のDIVを追加
              chatArea.append(rowDiv);
               // 追加した発言の位置へスクロール
              chatScrollBottom();
          }
           function chatScrollBottom(){
              // 最下部へのスクロール
              $('#chat_area').animate({scrollTop: $('#chat_area')[0].scrollHeight}, 0);
           }

       </script>
  </body>
</html>
